.green-black {
  color: #0f0;
  background-color: #000;
  font-size: 35px;
}

/* .red-black {
    color: #f00;
    background-color: #000;
    font-size: 35px;
} */

.pic-background {
  width: 674px;
  height: 674px;
}
